@media screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 1, /Users/nyknyc/Desktop/MyProject/madison/source/css/responsive.css.scss */
  .wrapper-container {
    max-width: 768px; } }
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 1, /Users/nyknyc/Desktop/MyProject/madison/source/css/responsive.css.scss */
  .wrapper-container {
    max-width: 480px; } }

@media screen and (max-width: 768px) {
  /* line 17, /Users/nyknyc/Desktop/MyProject/madison/source/css/responsive.css.scss */
  #header-container .col-sm-9 {
    padding-right: 0px;
    padding-left: 0px;
    min-width: 100%; }
  /* line 22, /Users/nyknyc/Desktop/MyProject/madison/source/css/responsive.css.scss */
  #header-container #left-logo {
    margin: 0 auto; }
    /* line 24, /Users/nyknyc/Desktop/MyProject/madison/source/css/responsive.css.scss */
    #header-container #left-logo img {
      display: block;
      margin: 0 auto; } }

@media screen and (max-width: 768px) {
  /* line 33, /Users/nyknyc/Desktop/MyProject/madison/source/css/responsive.css.scss */
  #right-social .social-block {
    margin-top: 0px !important; }
    /* line 35, /Users/nyknyc/Desktop/MyProject/madison/source/css/responsive.css.scss */
    #right-social .social-block ul {
      width: 176px;
      padding-left: 0px;
      margin: 0 auto; } }

@media screen and (max-width: 768px) {
  /* line 46, /Users/nyknyc/Desktop/MyProject/madison/source/css/responsive.css.scss */
  .feature .title, .feature .excerpt, .feature .action-button {
    display: block;
    text-align: center;
    margin: 10px auto; } }
