/*
* Font 
*/
/* line 9, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
body {
  background: url("../img/background.png") repeat fixed;
  font-family: "Arvo" serif;
  font-size: 16px;
  font-weight: 400;
  color: #6b3b25; }

/* line 18, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
a {
  color: #6b3b25; }
  /* line 20, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  a:hover {
    text-decoration: none;
    color: #6b3b25; }

/* line 25, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.line-heading {
  font-family: "Lato" sans-serif;
  font-size: 18px;
  font-weight: 700; }

/* line 32, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.date, .author {
  font-size: 14px;
  color: #c78301; }

/* line 36, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.title {
  font-family: "Lato" sans-serif;
  font-size: 24px;
  font-weight: 700; }

/* line 43, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
h3 {
  margin-top: 6px;
  font-family: "Lato" sans-serif;
  font-size: 18px;
  font-weight: 700; }

/* line 51, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.post-title {
  font-family: "Lato" sans-serif;
  font-size: 14px; }

/* line 56, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #6b3b25; }
/* line 64, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main .tagline {
  font-family: "Lato" sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3em; }
/* line 72, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main .title {
  font-family: "Lato" sans-serif;
  font-size: 24px;
  font-weight: 700; }
/* line 80, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main .button a, #main .action-button a {
  font-size: 11px;
  color: #f1f1f1; }

/***************************
*General layout setting
******************************/
/* line 94, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.container {
  margin: auto;
  max-width: 1000px; }

/* line 98, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.row {
  margin-left: 30px;
  margin-right: 30px; }

/* line 102, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.wrapper-container {
  position: relative;
  max-width: 1000px;
  background-color: #dedad3;
  margin: auto;
  margin-top: 29px;
  margin-bottom: 80px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  /*****************************
  * Navigation style
  ****************************/ }
  /* line 114, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .wrapper-container #header-container {
    background: url("../img/header-bg.png") repeat; }
    /* line 115, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container #header-container .row {
      margin-left: 0px;
      margin-right: 0px; }
    /* line 119, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container #header-container .col-sm-9 {
      width: 72%; }
    /* line 122, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container #header-container #left-logo {
      margin-top: 45px;
      margin-left: 17px;
      margin-bottom: 30px; }
  /* line 130, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .wrapper-container #right-social .social-block {
    min-height: 40px;
    width: 100%;
    margin-top: 62px; }
    /* line 134, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container #right-social .social-block ul {
      min-height: inherit; }
      /* line 136, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
      .wrapper-container #right-social .social-block ul li {
        float: right;
        list-style: none;
        margin-left: 12px; }
  /* line 147, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .wrapper-container .nav-container {
    margin: 0;
    min-height: 65px;
    vertical-align: middle;
    border-style: none;
    border-radius: 0;
    min-width: 1036px;
    position: relative;
    right: 18px;
    background: url("../img/nav-riband.png") no-repeat center top; }
    @media screen and (max-width: 1024px) {
      /* line 147, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
      .wrapper-container .nav-container {
        position: static;
        min-width: 100%; } }
    /* line 162, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container .nav-container:after {
      content: '';
      position: absolute;
      height: 5px;
      width: 100%;
      background: url("../img/ribbon-shadow.png") no-repeat top center; }
    /* line 169, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container .nav-container .container {
      padding: 0px;
      min-height: inherit; }
      /* line 172, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
      .wrapper-container .nav-container .container .navbar-header {
        margin: 0px;
        min-height: 65px; }
        /* line 175, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
        .wrapper-container .nav-container .container .navbar-header button {
          margin-top: 15px; }
      /* line 179, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
      .wrapper-container .nav-container .container .navbar-collapse {
        margin: 0px; }
      /* line 183, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
      .wrapper-container .nav-container .container .in li {
        background: none;
        margin-bottom: 1px; }
    /* line 189, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container .nav-container .collapse, .wrapper-container .nav-container .navbar-nav {
      min-height: inherit;
      margin: 0px; }
      /* line 192, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
      .wrapper-container .nav-container .collapse a, .wrapper-container .nav-container .navbar-nav a {
        color: white;
        font-family: "Lato" sans-serif;
        font-weight: 700;
        line-height: 35px;
        vertical-align: middle; }
    /* line 202, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container .nav-container .nav .current-menu-item {
      background-color: #62493d; }
    /* line 205, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container .nav-container .nav li:hover {
      background-color: #62493d; }
      /* line 206, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
      .wrapper-container .nav-container .nav li:hover a {
        color: white; }
    /* line 212, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container .nav-container .nav .open .divider {
      border-bottom: 1px solid white;
      margin: 0;
      padding: 0; }
    /* line 218, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container .nav-container .nav .open a {
      color: white; }
      /* line 220, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
      .wrapper-container .nav-container .nav .open a:focus {
        background-color: #62493d; }
    /* line 226, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .wrapper-container .nav-container .nav .dropdown-menu {
      background-color: #62493d; }
      /* line 228, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
      .wrapper-container .nav-container .nav .dropdown-menu a:hover {
        background-color: #62493d;
        color: #e09402; }

/* line 237, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.slider-wrapper {
  margin-top: 46px; }

/* line 241, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.tagline {
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-left: 30px; }

/* line 249, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.line-heading {
  line-height: 47px;
  border-top: 4px solid #6b3b25;
  border-bottom: 1px solid #6b3b25; }
  /* line 253, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .line-heading a {
    float: right; }

/* line 259, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main .slider-wrapper #slider {
  text-align: center; }
  /* line 261, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main .slider-wrapper #slider img {
    width: 100%; }
/* line 266, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main .feature {
  margin-top: 34px; }
/* line 269, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main .img-overlay {
  display: none; }
/* line 272, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main .thumbnail {
  max-width: 284px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  border: 5px solid #fff;
  background-color: #6b3b25; }
  /* line 283, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main .thumbnail:hover background {
    opacity: 0.8; }
  /* line 286, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main .thumbnail:hover img {
    opacity: 0.3; }
  /* line 289, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main .thumbnail:hover .img-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    -webkit-text-fill-color: white;
    opacity: 1px;
    text-align: center;
    padding: 140px 0 140px 0; }
  /* line 301, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main .thumbnail:hover span {
    display: block;
    margin: 0 auto;
    height: 38px;
    width: 97px;
    padding-top: 5px;
    background: #e09402;
    border: #f6a201 solid 3px;
    border-bottom: #c88401 solid 3px;
    border-right: #c88401 solid 3px; }
    /* line 311, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main .thumbnail:hover span a {
      text-decoration: none; }
  /* line 316, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main .thumbnail:after {
    content: '';
    position: absolute;
    height: 8px;
    bottom: -13px;
    width: 100%;
    background: url("../img/thumb-after.png") no-repeat center top; }
/* line 325, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main .video-container {
  margin: 10px auto; }
  /* line 327, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main .video-container video {
    width: 100%; }

/* line 333, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#main-blog {
  margin-top: 25px; }
  /* line 335, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .feature-img {
    position: relative;
    border-radius: 0px; }
    /* line 338, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .feature-img img {
      width: 100%; }
    /* line 341, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .feature-img:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 10px;
      bottom: -10px;
      right: 2%;
      background: url("../img/feature-img-effect.png") no-repeat right top; }
  /* line 352, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .divider {
    border: 1px solid #6b3b25;
    margin: 35px auto; }
  /* line 356, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .page-nav {
    text-align: center;
    margin-bottom: 35px; }
    /* line 359, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .page-nav a {
      font-size: 14px;
      color: white; }
    /* line 363, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .page-nav .previous, #main-blog .page-nav .next {
      display: inline-block;
      width: 112px;
      line-height: 44px;
      text-align: inherit; }
    /* line 369, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .page-nav .previous {
      background: url("../img/previous-button.png") no-repeat center top;
      margin-right: 1em; }
    /* line 373, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .page-nav .next {
      background: url("../img/next-button.png") no-repeat center top; }
  /* line 377, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .block {
    margin-bottom: 30px; }
  /* line 381, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .archive ul {
    list-style: none;
    padding: 0px; }
  /* line 385, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .archive li {
    font-family: "Lato" sans-serif;
    font-size: 18px;
    font-weight: 700; }
    /* line 391, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .archive li a:hover {
      border-bottom: 1px dotted #c78301; }
    /* line 394, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .archive li span {
      font-weight: 400;
      color: #e09402; }
  /* line 400, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .line-heading {
    margin-bottom: 5px; }
  /* line 404, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .popular ul {
    list-style: none;
    padding: 0px; }
  /* line 408, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .popular li {
    overflow: auto; }
  /* line 411, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .popular .post-thumb {
    border-radius: 0px;
    max-width: 70px;
    margin-right: 10px;
    float: left; }
  /* line 417, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .popular .post-title {
    width: 70%;
    float: left; }
  /* line 422, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #main-blog .sponsor {
    overflow: auto; }
    /* line 424, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .sponsor .left {
      float: left; }
    /* line 427, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .sponsor .right {
      float: right; }
    /* line 430, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .sponsor .sponsor {
      padding: 0 3%; }
    /* line 433, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    #main-blog .sponsor .sponsor-thumb {
      border-radius: 0px;
      padding: 0;
      margin-bottom: 5px;
      width: 49%;
      background-color: transparent; }

/* line 443, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.action-button {
  height: 38px;
  width: 97px;
  margin: 10px 0;
  padding: 7px 0 0 5px;
  background: #e09402;
  border: #f6a201 solid 3px;
  border-bottom: #c88401 solid 3px;
  border-right: #c88401 solid 3px; }
  /* line 452, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .action-button a {
    font-size: 12px;
    text-decoration: none;
    color: #fff; }

/* line 459, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.recent-post ul {
  list-style: none;
  padding: 0px; }
/* line 463, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.recent-post .post-title {
  border-bottom: 1px solid #6b3b25; }
  /* line 465, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .recent-post .post-title span {
    color: #c78301; }

/* line 470, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
.widget {
  background: url("../img/widgets.png") repeat;
  border-top: 3px solid #c78301;
  margin-top: 90px;
  position: relative; }
  /* line 475, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .widget .arrow {
    position: relative;
    z-index: 1;
    top: -40px;
    height: 41px;
    width: 46px;
    margin: 0 auto;
    background: url("../img/rectangle.png") no-repeat; }
    /* line 484, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
    .widget .arrow:hover {
      background: url("../img/rectangle-effect.png") no-repeat; }
  /* line 488, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .widget .row {
    display: block;
    width: 100%;
    margin: auto; }
  /* line 494, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .widget .widget-block h4 {
    color: #c78301; }
  /* line 497, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  .widget .widget-block p {
    display: block;
    text-align: left;
    color: #e7d7ba; }

/* line 505, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#footer {
  position: relative; }
  /* line 507, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #footer .footer-divider {
    background: #5a453b;
    border-top: 1px solid #644d42;
    border-bottom: 1px solid #523f35;
    height: 8px; }
  /* line 514, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #footer footer {
    text-align: center;
    color: #e09402;
    padding: 30px 30px 30px 30px;
    background: #62493d url("../img/footer-bg.png") repeat-x;
    width: 100%; }
  /* line 521, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #footer:after {
    content: '';
    position: absolute;
    bottom: -46px;
    height: 46px;
    width: 100%;
    max-width: 1000px;
    background: url("../img/footer-shadow.png") no-repeat top center; }

/********************************
* social icon transform effect
*******************************/
/* line 536, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#right-social .social-block .icon-1 {
  background: url("../img/icon1.png") no-repeat #dedad3; }
/* line 539, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#right-social .social-block .icon-2 {
  background: url("../img/icon2.png") no-repeat #dedad3; }
/* line 542, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#right-social .social-block .icon-3 {
  background: url("../img/icon3.png") no-repeat #dedad3; }
/* line 545, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#right-social .social-block .icon-4 {
  background: url("../img/icon4.png") no-repeat #dedad3; }
/* line 548, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
#right-social .social-block a {
  background-position: 0 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  transform: perspective(1000);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: all 400ms ease; }
  /* line 558, /Users/nyknyc/Desktop/MyProject/madison/source/css/style.css.scss */
  #right-social .social-block a:hover {
    background-position: 0 -32px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); }
